<?xml version="1.0" ?>
<model>
    <name>Arena for Eurobot 2020 (Sail the World)</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Yanis Mazouz</name>
        <email>yanis-ros@yanis.33mail.com</email>
    </author>
    <description>The complete eurobot arena for 2020 (Sail the World theme), 
    the weather cock can be rotated in North or South position, the windsocks can be actuated</description>
</model>
