<?xml version="1.0" ?>
<model>
    <name>Arena for Eurobot 2023 (The cherry on the cake)</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Yanis Mazouz</name>
        <email>yanis-ros@yanis.33mail.com</email>
    </author>
    <description>The complete eurobot arena for 2023 (The cherry on the cake theme)
    </description>
</model>
